@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'GT Walsheim', sans-serif;
  }
.containernav{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  overflow: hidden;
}

.topnav{
  width: 100%;
  display: flex;
  align-items: center;
  
}
.logo{
  width: 50px;
  margin: 10px 0;
}
.icon{
  cursor: pointer;
  display: none;
  color: #352727;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
 
}
nav ul li a{
  text-decoration: none;
  color: black;
}
nav ul li a:hover{
  border-bottom: #FF6767 solid 2px;
  padding-bottom: 2px;
}
nav ul li a.active{
  border-bottom: #FF6767 solid 2px;
}
@media screen and (max-width: 600px) {
    nav ul {
      display: none;
    }
  
    .topnav a.icon {
      float: right;
      display: block;
      justify-content: space-between;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive {position: relative;}
.topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
}
  
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FF6767;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color:#352727;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
}
  
@media screen and (max-height: 450px) {
    .overlay a{font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

/* form css*/
.container{
    margin: 70px;
    background: white;
    padding: 20px 60px 30px 40px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    min-height: 60vh;
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #d2d2d2;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #FF6767;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #6d6d6d;
  }
  
  
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #FF6767;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #ffe8e8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="submit"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 15px 35px;
    border-radius: 24px;
    background: #FF6767;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 550;
    font-size: 17px;
    box-shadow: gray 0 2px 2px 0;
  }
  .button input[type="submit"]:hover{
    background: #352727;
  }
  
  @media (max-width: 950px) {
    .container{
      padding: 30px 40px 40px 35px;
      box-shadow: 0 5px 10px rgb(255, 255, 255);
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
   .container .content .right-side .topic-text{
    text-align: center;
   }
   .container .content .right-side p{
    text-align: center;
   }
   .container .content .right-side #contact_submit{
    margin-left: 30%;
   }
   .right-side .button {
  align-items: center;
  justify-content: center;
  padding-left:18%;
   }
  }

  footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    box-sizing: border-box;
    color: white;
    
  }
  .footer-content{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #352727;
  }
  .footer-content h3{
    padding-top: 20px;
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    color: white;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: white;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: white;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
  
  }
  .socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
  
  }
  .socials a:hover i{
    color: #FF6767;
  }
  
  .footer-bottom{
    background: #4a3636;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  .footer-bottom p{
  float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom p a{
  color:white;
  font-size: 14px;
  text-decoration: none;
  }
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  .footer-menu{
  float: right;
  
  }
  .footer-menu ul{
  display: flex;
  }
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  .footer-menu ul li a{
  font-size: 13px;  
  color: white;
  text-decoration: none;
  }
  .footer-menu ul li a:hover{
  color: #FF6767;
  }
  
  @media (max-width:500px) {
  .footer-menu ul{
  display: flex;
  }
  
  .footer-bottom p{
    float:none;
    text-align: center;
  }
  .footer-menu{
    float:none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
  }
  }