* {
    margin: 0;
    padding: 0;
    font-family: 'GT Walsheim', sans-serif;
  }
.container{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  overflow: hidden;
}

.topnav{
  width: 100%;
  display: flex;
  align-items: center;
  
}
.logo{
  width: 50px;
  margin: 10px 0;
}
.icon{
  cursor: pointer;
  display: none;
  color: #352727;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
 
}
nav ul li a{
  text-decoration: none;
  color: black;
}
nav ul li a:hover{
  border-bottom: #FF6767 solid 2px;
  padding-bottom: 2px;
}
nav ul li a.active{
  border-bottom: #FF6767 solid 2px;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}
.main{
  flex-basis: 50%;
  position: relative;
  margin-left: 50px;
}
.main h3{
  font-size: 45px;
}
.main .para1{
  font-size: 22px;
  padding-top: 20px;
}
.main .para2{
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main button{
  background-color: #FF6767;
  color: #fff;
  border: none;
  padding: 15px 35px;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 550;
  font-size: 15px;
  box-shadow: gray 0 2px 2px 0;
}
.main button:hover{
  background-color: #352727;
  color: #FF6767;
  font-weight: 600;
  box-shadow: gray 0 2px 2px 0;
  padding: 15px 35px;
}
.right{
  position: relative;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .mainImg{
  width: 75%;
}
@media screen and (max-width: 600px) {
  nav ul {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive {position: relative;}
.topnav.responsive {
  display: block;
  width: 100%;
  text-align: left;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #FF6767;
  opacity: 0.95;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color:#352727;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay a{font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .row{
    flex-direction: column;
    margin: 50px 0 0 0;
    text-align: center;
  }
  .main{
    margin-left: 0px;
    flex-basis: 100%;
  }
  .right{
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
  }
  .main h3{
    font-size: 37px;
  }
  .main .para1{
    font-size: 18px;
    padding-top: 20px;
  }
  .main .para2{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
}


/*----------------------------*/

html {
  scroll-behavior: smooth;
}
.arrow_container {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0px auto;
  padding-bottom: 20px;
}
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #352727;
}
.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}


@keyframes pulse {
  to {
    opacity: 1;
  }
}



/*------------------------------------*/
.section2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 30px 50px 50px;
  padding-top: 20px;
}
.text2{
  flex-basis: 60%;
  position: relative;
  margin-left: 50px;
}
.text2 h3{
  font-size: 40px;
}
.text2 p{
  padding-top: 20px;
  font-size: 20px;
}

.img2{
  position: relative;
  flex-basis: 40%;
  display: flex;
  align-items: center;
  animation: fadeIn 5s;
  align-items: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.img2 .mockupImg{
  width: 80%;
  
  
}
@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .section2{
    flex-direction: column;
    margin: 50px 0;
    text-align: center;
    align-items: center;
    padding: 20px;
  }
  .text2{
    margin-left: 0px;
    flex-basis: 100%;
    margin-bottom: 50px;
    
  }
  .text2 h3{
    font-size: 30px;
  }
  .text2 p{
    font-size: 18px;
  }
  .img2{
    margin-bottom: 50px;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  

  }
}


/*--------------------------------*/
.swicontainer{
  padding: 40px 0;
  
}
.slide-container {
  margin: 50px 40px;
  overflow: hidden;
}
.card {
  background: #352727;
  border-radius: 8px;
}
.card .image-box {
  height: 200px;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 8px 8px;
  opacity: 80%;
}
.card .activity-details {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(253, 234, 211);
}

.swiper-button-prev, .swiper-button-next {
  --swiper-navigation-size: 20px;
  
}

.swiper-pagination-bullet, .swiper-button-prev, .swiper-button-next  {
  --swiper-theme-color: #352727;
}
@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display:block;
  }
  .swiper-button-prev, .swiper-button-next {
    --swiper-navigation-color: white; 
    --swiper-navigation-size: 18px;
  }
  
  .swiper-pagination-bullet {
    --swiper-theme-color: #352727;
  }
}
.servicesBrief{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 25px;
  padding-top: 20px;
  text-align: center;
  animation: fadeIn 3s;
  margin-top: 50px;
  color:rgb(253, 234, 211);
  
}
.servicesBrief h2{
  font-size: 32px;
  margin-bottom: 30px;
}
.servicesBrief p{
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .servicesBrief h2{
    font-size: 25px;
    margin-bottom: 25px;
  }
  .servicesBrief p{
    font-size: 18px;
  }
  
}

/*--------------------------------*/
.sumcontainer{
  padding: 40px 0;
}
.sumBrief{
  text-align: center;
  margin: 0 auto;
  padding: 25px;
  padding-top: 50px;
}
.sumBrief h2{
  font-size: 35px;
}
.slide-sum {
  margin: 50px 40px;
  overflow: hidden;
}
.card2 {
  background: #F7D8D8;
  border-radius: 8px;
}

.card2 .ima img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

}
.card2 .details {
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  padding: 15px;
  font-size: 18px;
  color: #352727;
  text-align: center;
}
.card2 .details .headings{
  font-weight: bold;
}
.bgHalf{
  margin: 0;
  background: linear-gradient(180deg, white 39%, #F7D8D8 0%);
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  overflow: hidden;
}

.bg{
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #352727;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
  }
  @media screen and (max-width: 768px) {
    .sumBrief{
      padding-top: 0;
    }
    .sumcontainer{
      padding-top: 0;
    }
    .sumBrief h2{
      font-size: 30px;
    }
}