* {
    margin: 0;
    padding: 0;
    font-family: 'GT Walsheim', sans-serif;
  }
.container{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  overflow: hidden;
}

/**********************
    Navigation bar
***********************/

.nav-button{
  background-color: #FF6767;
  color: #fff;
  border: none;
  padding: 15px 25px;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 550;
  font-size: 15px;
  box-shadow: gray 0 2px 2px 0;
}
nav ul li button a{
  text-decoration: none;
  color:#fff;
}
nav ul li .nav-button:hover{
  background-color: #4a3636;
  font-weight: 600;
}
nav ul li button a:hover{
  color:#FF6767;
}
.container-stretching{
  width: 100%;
  box-sizing: border-box;
}

.topnav{
  width: 100%;
  display: flex;
  align-items: center;
  
}
.logo{
  width: 50px;
  margin: 10px 0;
}
.icon{
  cursor: pointer;
  display: none;
  color: #352727;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
 
}
nav ul li a{
  text-decoration: none;
  color: black;
}
nav ul li a:hover{
  border-bottom: #FF6767 solid 2px;
  padding-bottom: 2px;
}
nav ul li a.active{
  border-bottom: #FF6767 solid 2px;
}

@media screen and (max-width: 600px) {
  nav ul {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    justify-content: space-between;
  }
}

/*********************************
  Navigation bar responsive
********************************/

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive {position: relative;}
.topnav.responsive {
  display: block;
  width: 100%;
  text-align: left;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #FF6767;
  opacity: 0.95;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color:#352727;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay a{font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/***************************
Yoga section services description
**************************/

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  margin-top: 70px;
}
.main{
  flex-basis: 50%;
  position: relative;
  margin-left: 50px;
}
.main h3{
  font-size: 40px;
}
.main .para1{
  font-size: 22px;
  padding-top: 20px;
}
.main .para2{
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.right{
  position: relative;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yoga-right {
  position:relative;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in;
}

.yoga-right:hover {
  transform: translateY(-12px);
}

.yoga-right img {
  position: relative;
  bottom: 16px;
  left: 7px;
  z-index: 1;
  width: 300px;
}

/*****************
Arrow bounce 
*********************/
a { 
  color: #FF6767; 
  text-decoration: none; 
} 
.arrow {
  text-align: left;
  padding-left: 35px;
}
.bounce {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/************************
yoga section and arrow responsive
*****************************/

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .row{
    flex-direction: column;
    margin: 50px 0 0 0;
    text-align: center;
  }
  .main{
    margin-left: 0px;
    flex-basis: 100%;
  }
  .yoga-right{
    padding-top: 40px;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
  }
  .main h3{
    font-size: 37px;
  }
  .main .para1{
    font-size: 18px;
    padding-top: 20px;
  }
  .main .para2{
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .arrow {
    text-align: center;
    margin: 8% 0;
    padding-top: 15px;
    padding-left: 0px;
  }  

}

/***********************
yoga video section
*************************/
.bg{
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #352727;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .servicesBrief{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 25px;
    padding-top: 20px;
    text-align: center;
    animation: fadeIn 3s;
    margin-top: 50px;
    color:rgb(253, 234, 211);
    
  }
  .servicesBrief h2{
    font-size: 32px;
    margin-bottom: 30px;
  }
  .servicesBrief p{
    font-size: 22px;
  }
  
  .yoga-videos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40vh;
    margin-top: 20px;

  }
.video1{
    flex-basis: 33%;
    position: relative;
    margin-left: 50px;
  }

  .video2{
    position: relative;
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video3{
    position: relative;
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /***************************
  yoga video section responsive
  ***********************/
  
  @media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .yoga-videos{
      flex-direction: column;
      margin: 20px 0 0 0;
      text-align: center;
      padding-bottom: 30px;
    }
    .video1, .video2, .video3{
      margin-left: 0px;
      flex-basis: 100%;
    }
}

@media screen and (max-width: 768px) {
  .servicesBrief h2{
    font-size: 25px;
    margin-bottom: 25px;
  }
  .servicesBrief p{
    font-size: 18px;
  }
  
}

.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 30px 50px 50px;
    padding-top: 20px;
  }
  .text2{
    flex-basis: 60%;
    position: relative;
    margin-left: 70px;
  }
  .text2 h3{
    font-size: 40px;
  }
  .text2 p{
    padding-top: 20px;
    font-size: 22px;
  }
  
  .img2{
    position: relative;
    display: flex;
    align-items: center;
    transform: translateY(-10%);
    animation: floater 10.5s infinite;
    transition: ease 1.5s;
  }
  
  
  @keyframes floater {
    0%{transform: translateY(-10%);transition: ease 1.5s;}
    50%{transform: translateY(10%);transition: ease 1.5s;}
  
  }
  
  .img2 .mockupImg{
    width: 80%;
  }
  @media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .section2{
      flex-direction: column;
      margin: 50px 0 0 0 ;
      text-align: center;
      align-items: center;
      padding: 20px;
    }
    .text2{
      margin-left: 0px;
      flex-basis: 100%;
      margin-bottom: 50px;
      
    }
    .text2 h3{
      font-size: 30px;
    }
    .text2 p{
      font-size: 18px;
    }
    .img2{
      margin-bottom: 50px;
      flex-basis: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  
  }

  .bg2{
    margin: 0;
    margin-top: 100px;
    margin-bottom: 50px;
    background: #F7D8D8;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 50px;;
  }

  .row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    margin-top: 50px;
  }
  .main2{
    flex-basis: 50%;
    position: relative;
    margin-left: 50px;
  }
  .main2 h3{
    font-size: 40px;
  }
  .main2 .para1{
    font-size: 22px;
    padding-top: 20px;
  }
  .main2 .para2{
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .right2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .stretching-right {
    position:relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in;
  }
  
  .yoga-right:hover {
    transform: translateY(-12px);
  }
  
  .yoga-right img {
    position: relative;
    bottom: 16px;
    left: 7px;
    z-index: 1;
    width: 300px;
  }
  @media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .bg2{
        margin: 0;
        margin-top: 0px;
    }
    .row2{
      flex-direction: column-reverse;
      margin: 50px 0 0 0;
      text-align: center;
    }
    .main2{
      margin-left: 0px;
      flex-basis: 100%;
    }
    .stretching-right{
      padding-top: 20px;
      flex-basis: 100%;
      justify-content: center;
      align-items: center;
    }
    .main2 h3{
      font-size: 30px;
    }
    .main2 .para2{
      font-size: 18px;
      padding-top: 20px;
    }
    
}
.row3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
    margin: 0 50px 50 50px;
  }
  .main3{
    flex-basis: 60%;
    position: relative;
    margin-left: 50px;
  }
  .main3 h3{
    font-size: 40px;
  }
  .main3 .para1{
    font-size: 22px;
    padding-top: 20px;
  }
  .main3 .para3{
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .right3{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .meal-right {
    position:relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in;
  }
  
  .meal-right:hover {
    transform: translateY(-12px);
  }
  
  .meal-right img {
    position: relative;
    bottom: 16px;
    left: 7px;
    z-index: 1;
    width: 400px;
  }
  .main3 button{
    background-color: #FF6767;
    color: #fff;
    border: none;
    padding: 15px 35px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 550;
    font-size: 15px;
    box-shadow: gray 0 2px 2px 0;
  }
  .main3 button:hover{
    background-color: #352727;
    color: #FF6767;
    font-weight: 600;
    box-shadow: gray 0 2px 2px 0;
    padding: 15px 35px;
  }
  @media only screen and (max-width: 800px) {
    /* For mobile phones: */
    
    .row3{
      flex-direction: column-reverse;
      margin: 50px 0 70px 0;
      text-align: center;
    }
    .main3{
      margin-left: 0px;
      flex-basis: 100%;
    }
    .meal-right{
      padding-top: 20px;
      flex-basis: 100%;
      justify-content: center;
      align-items: center;
    }
    .main3 h3{
      font-size: 30px;
    }
    .main3 .para3{
      font-size: 18px;
      padding-top: 20px;
    }
    .meal-right img {
        width: 300px;
    }
    
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    box-sizing: border-box;
    color: white;
    
  }
  .footer-content{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #352727;
  }
  .footer-content h3{
    padding-top: 20px;
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    color: white;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: white;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: white;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
  
  }
  .socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
  
  }
  .socials a:hover i{
    color: #FF6767;
  }
  
  .footer-bottom{
    background: #4a3636;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  .footer-bottom p{
  float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom p a{
  color:white;
  font-size: 14px;
  text-decoration: none;
  }
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  .footer-menu{
  float: right;
  
  }
  .footer-menu ul{
  display: flex;
  }
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  .footer-menu ul li a{
  font-size: 13px;  
  color: white;
  text-decoration: none;
  }
  .footer-menu ul li a:hover{
  color: #FF6767;
  }
  
  @media (max-width:500px) {
  .footer-menu ul{
  display: flex;
  }
  
  .footer-bottom p{
    float:none;
    text-align: center;
  }
  .footer-menu{
    float:none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
  }
  }
  